@import url("https://fonts.google.com/icons?icon.query=money");
@import url("https://fonts.google.com/specimen/Oswald?preview.text_type=custom");
		
		.swiper-slide{
			width:280px !important;
			 }
		
		.slider-box{
			margin:20px;
			height:450px;
			width:295px;
			position:relative;
			background-color:#FFFFFF;
			border-radius:8px;
			display:flex;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			text-align:center;
			border:1px solid rgba(187,187,187,0.40);
			z-index: 999;
			
			}
		.textinfo{
			margin:10px;
			height:380px;
			width:295px;
			position:absolute;
			background-color:rgba(248, 160, 160, 0.884);
			border-radius:8px;
			display:flex;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			text-align:center;
			border: 1px solid rgba(248, 160, 160, 0.884);
			opacity: 0;
			z-index: 5;
			}
		.textinfo:hover{
			transform: translateY(0,350px);
            -webkit-transform: translateY(0,350px);
            -o-transform: translate(0,350px); 
            -moz-transform: translate(0,350px);
			opacity: 1;
			z-index: 5;
			}
			.infoh2{
				display:flex;
				flex-direction:column;
				align-items:center;
				box-sizing:border-box;
				font-size:20px;
				font-style: italic;
				line-height:35px;
				color: #000;
				top: 10%;
				font-family: 'Oswald', sans-serif;
			}	
				.infoh3{
					display:flex;
					flex-direction:column;
					align-items:center;
					text-align: left;
					box-sizing:border-box;
					font-size:14px;
					font-style: oblique;
					line-height:35px;
					color: black;
					font-family: 'Oswald', sans-serif;
				}	
					.infop{
						display:flex;
						flex-direction:column;
						align-items:center;
						text-align: justify;
						box-sizing:border-box;
						font-size:16px;
						left: 2rem;
						font-style: normal;
						line-height:22px;			
						color:black;
						border-radius: 8px;
						font-family: 'Oswald', sans-serif;
					}
			 
		@media screen and (max-width: 736px){
		.infoh2{
			display:flex;
			flex-direction:column;
			align-items:center;
			text-align: center;
			box-sizing:border-box;
			font-size:14px;
			font-style: italic;
			line-height:35px;
			color: #000;
			font-family: 'Oswald', sans-serif;
		}	
			.infoh3{
				display:flex;
				flex-direction:column;
				align-items:center;
				text-align: center;
				box-sizing:border-box;
				font-size:5px;
				line-height:35px;
			    color: black;
				font-family: 'Oswald', sans-serif;
				top: 30%;
			}	
				.infop{
					display:flex;
					flex-direction:column;
					align-items:center;
					text-align: justify;
					box-sizing:border-box;
					font-size:12px;
					left: 2rem;
					font-style: normal;
					line-height:22px;			
			        color:black;
					border-radius: 8px;
					font-family: 'Oswald', sans-serif;
				}	
			}   
			

		.slider-box a{
			text-decoration:none;
			text-align:center;}
		.img-box{
			height:250px;}
		.img-box img{
			height:auto;
			max-width:100%;
			max-height:100%;}
		.informacion{
			position:absolute;
			top:0px;
			right:20px;
			color:#FFFFFF;}
		.time{
			position:absolute;
			top:0px;
			right:20px;
			color:rgba(248, 160, 160, 0.884);}
		.detail{
	        display:flex;
	        flex-direction:column;
	        align-items:center;
	        box-sizing:border-box;
	        font-size:14px;
			font-style: italic;
	        line-height:35px;}
		.price{
			color: #000;;
			line-height:20px;
			border-radius:2px;}
        .cart{
			position:absolute;
			bottom:0px;
			height:35px;
			background-color:#FCA4A6;
			width:100%;
			display:flex;
			border-radius: 6px;
			justify-content:center;
			align-items:center;}
			
		.cart a{
			color:#FFFFFF;}
		.slider-box:hover{
			box-shadow:2px 2px 12px rgba(47,47,47,0.40);}
		.slider-box:hover .img-box img{
			transform:scale(1.07);
			transition:all ease 0.3s;}
		 .cart:hover{
			transform:scale(1.05);
		    background-color:#FCA4A6;
			border-radius:16px;
            box-shadow:2px 2px 12px rgba(47,47,47,0.40);
            transition:all ease 0.1s;}				
		.heading{
			display:flex;
			justify-content:center;}
		.heading h1{
			text-shadow:2px 2px 12px rgba(69,66,66,0.3);
			padding:0px 10px;
			color:#000000;
			margin:20px;
			font-size:30px;
			font-family:calibri;}

			
        
		#myPlayer{
			position: relative;
            overflow: hidden;
            width: 100%;
            padding-top: 56.25%;
		}
     iframe{
		position: absolute;
		left: 0;
		top: 15%;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
	  }


	  @media screen and (max-width: 1280px) {
		  iframe{
			  top:12%;
		  }
	  }
	  @media screen and (max-width: 980px) {
		iframe{
			top:13%;
		}
	  }
	  @media screen and (max-width: 736px) {
		iframe{
			top:12%;
		}
	  }
	  @media screen and (max-width: 368px) {
		iframe{
			top:10%;
		}
	  }